$margin-base: 10px;
$margin-sm: 5px;
$margin-lg: 15px;
$margin-xl: 20px;
$margin-30: 30px;
$margin-40: 40px;
$margin-50: 50px;
$margin-60: 60px;

$padding-base: 10px;
$padding-sm: 5px;
$padding-lg: 15px;
$padding-xl: 20px;
$padding-30: 30px;
$padding-40: 40px;
$padding-50: 50px;
$padding-60: 60px;

// Margins
// --------------------

.m0 {
  margin: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.m {
  margin: $margin-base !important;
}

.ml {
  margin-left: $margin-base !important;
}

.mr {
  margin-right: $margin-base !important;
}

.mt {
  margin-top: $margin-base !important;
}

.mb {
  margin-bottom: $margin-base !important;
}

.m-sm {
  margin: $margin-sm !important;
}

.ml-sm {
  margin-left: $margin-sm !important;
}

.mr-sm {
  margin-right: $margin-sm !important;
}

.mt-sm {
  margin-top: $margin-sm !important;
}

.mb-sm {
  margin-bottom: $margin-sm !important;
}

.m-lg {
  margin: $margin-lg !important;
}

.ml-lg {
  margin-left: $margin-lg !important;
}

.mr-lg {
  margin-right: $margin-lg !important;
}

.mt-lg {
  margin-top: $margin-lg !important;
}

.mb-lg {
  margin-bottom: $margin-lg !important;
}

.m-xl {
  margin: $margin-xl !important;
}

.ml-xl {
  margin-left: $margin-xl !important;
}

.mr-xl {
  margin-right: $margin-xl !important;
}

.mt-xl {
  margin-top: $margin-xl !important;
}

.mb-xl {
  margin-bottom: $margin-xl !important;
}

.m-30 {
  margin: $margin-30 !important;
}

.ml-30 {
  margin-left: $margin-30 !important;
}

.mr-30 {
  margin-right: $margin-30 !important;
}

.mt-30 {
  margin-top: $margin-30 !important;
}

.mb-30 {
  margin-bottom: $margin-30 !important;
}

.m-40 {
  margin: $margin-40 !important;
}

.ml-40 {
  margin-left: $margin-40 !important;
}

.mr-40 {
  margin-right: $margin-40 !important;
}

.mt-40 {
  margin-top: $margin-40 !important;
}

.mb-40 {
  margin-bottom: $margin-40 !important;
}

.m-50 {
  margin: $margin-50 !important;
}

.ml-50 {
  margin-left: $margin-50 !important;
}

.mr-50 {
  margin-right: $margin-50 !important;
}

.mt-50 {
  margin-top: $margin-50 !important;
}

.mb-50 {
  margin-bottom: $margin-50 !important;
}

.m-60 {
  margin: $margin-60 !important;
}

.ml-60 {
  margin-left: $margin-60 !important;
}

.mr-60 {
  margin-right: $margin-60 !important;
}

.mt-60 {
  margin-top: $margin-60 !important;
}

.mb-60 {
  margin-bottom: $margin-60 !important;
}

// Margin vertical / horizontal
.mv {
  @extend .mt;
  @extend .mb;
}

.mh {
  @extend .ml;
  @extend .mr;
}

.mv-lg {
  @extend .mt-lg;
  @extend .mb-lg;
}

.mh-lg {
  @extend .ml-lg;
  @extend .mr-lg;
}

.mv-sm {
  @extend .mt-sm;
  @extend .mb-sm;
}

.mh-sm {
  @extend .ml-sm;
  @extend .mr-sm;
}

// Paddings
// --------------------

.p0 {
  padding: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pv0 {
  @extend .pt0;
  @extend .pb0;
}

.ph0 {
  @extend .pl0;
  @extend .pr0;
}

.p {
  padding: $padding-base !important;
}

.pl {
  padding-left: $padding-base !important;
}

.pr {
  padding-right: $padding-base !important;
}

.pt {
  padding-top: $padding-base !important;
}

.pb {
  padding-bottom: $padding-base !important;
}

.p-sm {
  padding: $padding-sm !important;
}

.pl-sm {
  padding-left: $padding-sm !important;
}

.pr-sm {
  padding-right: $padding-sm !important;
}

.pt-sm {
  padding-top: $padding-sm !important;
}

.pb-sm {
  padding-bottom: $padding-sm !important;
}

.p-lg {
  padding: $padding-lg !important;
}

.pl-lg {
  padding-left: $padding-lg !important;
}

.pr-lg {
  padding-right: $padding-lg !important;
}

.pt-lg {
  padding-top: $padding-lg !important;
}

.pb-lg {
  padding-bottom: $padding-lg !important;
}

.p-xl {
  padding: $padding-xl !important;
}

.pl-xl {
  padding-left: $padding-xl !important;
}

.pr-xl {
  padding-right: $padding-xl !important;
}

.pt-xl {
  padding-top: $padding-xl !important;
}

.pb-xl {
  padding-bottom: $padding-xl !important;
}

.p-30 {
  padding: $padding-30 !important;
}

.pl-30 {
  padding-left: $padding-30 !important;
}

.pr-30 {
  padding-right: $padding-30 !important;
}

.pt-30 {
  padding-top: $padding-30 !important;
}

.pb-30 {
  padding-bottom: $padding-30 !important;
}

.p-40 {
  padding: $padding-40 !important;
}

.pl-40 {
  padding-left: $padding-40 !important;
}

.pr-40 {
  padding-right: $padding-40 !important;
}

.pt-40 {
  padding-top: $padding-40 !important;
}

.pb-40 {
  padding-bottom: $padding-40 !important;
}

.p-50 {
  padding: $padding-50 !important;
}

.pl-50 {
  padding-left: $padding-50 !important;
}

.pr-50 {
  padding-right: $padding-50 !important;
}

.pt-50 {
  padding-top: $padding-50 !important;
}

.pb-50 {
  padding-bottom: $padding-50 !important;
}

.p-60 {
  padding: $padding-60 !important;
}

.pl-60 {
  padding-left: $padding-60 !important;
}

.pr-60 {
  padding-right: $padding-60 !important;
}

.pt-60 {
  padding-top: $padding-60 !important;
}

.pb-60 {
  padding-bottom: $padding-60 !important;
}


// Padding vertical / horizontal
.pv {
  @extend .pt;
  @extend .pb;
}

.ph {
  @extend .pl;
  @extend .pr;
}

.pv-xl {
  @extend .pt-xl;
  @extend .pb-xl;
}

.ph-xl {
  @extend .pl-xl;
  @extend .pr-xl;
}

.pv-lg {
  @extend .pt-lg;
  @extend .pb-lg;
}

.ph-lg {
  @extend .pl-lg;
  @extend .pr-lg;
}

.pv-sm {
  @extend .pt-sm;
  @extend .pb-sm;
}

.ph-sm {
  @extend .pl-sm;
  @extend .pr-sm;
}
